<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='./stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a id="a">Welcome to <%= title %></a>
    <p>abc def ghi gggg</p>
    <caption href="#">aa abc a</>
  </body>
</html>
